.transparent-card {
    padding: 20px;
}

.main-card {
    margin-bottom: 20px;
}

.exhibits-card {
    width: 80%;
    margin: 0 auto; 
    text-align: center; 
    margin-top: 20px;
}

.centered-list {
    list-style-type: disc; 
    list-style-position: inside; 
    padding: 0; 
    text-align: center; 
    margin: 0; 
}

.centered-list li {
    
    margin: 5px 0; 
    text-align: center; 
}
.right-align {
    display: flex;
    justify-content: flex-end;
  }