.transparent-card {
    padding: 20px;
}

.main-card {
    margin-bottom: 20px;
}

.exhibits-card {
    width: 80%;
    margin: 0 auto; /* Centers the card itself */
    text-align: center; /* Centers text inside the card */
    margin-top: 20px;
}

.centered-list {
    list-style-type: disc; /* Ensures bullet points are shown */
    list-style-position: inside; /* Ensures bullets are inside the list */
    padding: 0; /* Removes default padding */
    text-align: center; /* Centers the text and bullets */
    margin: 0; /* Removes any default margin */
}

.centered-list li {
    
    margin: 5px 0; /* Adds vertical space between list items */
    text-align: center; /* Centers text within the list item */
}